/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpmuslim-wp-quran {
	border: 1px dotted #f00;

}

.wp-block-wpmuslim-wp-quran li {
	list-style-position: inside;
}

.wp-block-wpmuslim-wp-quran .spinner {
	float: none;
	margin: 6px 2px 10px 0;
}
.wp-block-wpmuslim-wp-quran label.components-base-control__label {
	display: block;
}
.wp-block-wpmuslim-wp-quran .arabic-ayah {
	font-size: 2rem;
}
